* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  background-image: linear-gradient(120deg, #665521, #3d2b26);
  color: #fff;
  font-family: 'Poppins', sans-serif;
  min-height: 100vh;

}

header {
    font-size: 1.5rem;
}

header, form {
   min-height: 20vh;
   display: flex;
   justify-content: center;
   align-items: center;
}


form input, form button {
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
    background: #fff;
}

form button {
    color: #3d2b26;
    background: #fff;
    cursor: pointer;
    transition: all 0.3s ease;
}

form button:hover {
    background: #3d2b26;
    color: #fff;
}
