* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  background-image: linear-gradient(120deg, #665521, #3d2b26);
  color: #fff;
  font-family: 'Poppins', sans-serif;
  min-height: 100vh;

}

header {
    font-size: 1.5rem;
}

header, form {
   min-height: 20vh;
   display: flex;
   justify-content: center;
   align-items: center;
}


form input, form button {
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
    background: #fff;
}

form button {
    color: #3d2b26;
    background: #fff;
    cursor: pointer;
    transition: all 0.3s ease;
}

form button:hover {
    background: #3d2b26;
    color: #fff;
}

.todo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-list {
    min-width: 30%;
    list-style: none;
}

.todo{
    margin: 0.5rem;
    background: #fff;
    color: #000;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.todo li {
    flex: 1;
}

.trash-btn, .complete-btn{
    background: #f00;
    color: #000;
    border: none;
    margin-right: 5px;
    cursor: pointer;
    font-size: 1.5rem;
}

.complete-btn{
    background:#97be6f;
    margin-left: 5px;
}