* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(120deg, #665521, #3d2b26);
  color: #fff;
  font-family: 'Poppins', sans-serif;
  min-height: 100vh;
}

header {
  font-size: 1.5rem;
}

header,
form {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

form input,
form button {
  padding: 0.5rem;
  font-size: 2rem;
  border: none;
  background: #fff;
}

form button {
  color: #3d2b26;
  background: #fff;
  cursor: pointer;
  transition: all 0.3s ease;
}

form button:hover {
  background: #3d2b26;
  color: #fff;
}

.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-list {
  min-width: 30%;
  list-style: none;
}

.todo {
  margin: 0.5rem;
  background: #fff;
  color: #000;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.3s ease;
}

.todo li {
  flex: 1;
}

.trash-btn,
.complete-btn {
  background: #f00;
  color: #000;
  border: none;
  margin-right: 5px;
  cursor: pointer;
  font-size: 1.5rem;
}

.complete-btn {
  background: #97be6f;
  margin: 2px 2px  2px 5px;
}

.uncomplete-btn {
  background: #fff;
  margin: 2px 2px  2px 5px;
  color: #fff;
}

.todo-item {
  padding: 0 0.5rem;
}

.fa-trash,
.fa-check {
  pointer-events: none;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

.fall {
  transform: translateY(8rem) rotateZ(20deg);
  opacity: 0;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border: none;
}

.select {
  margin: 1.1rem;
  position: relative;
  overflow: hidden;
}

select {
  color: black;
  width: 10rem;
  cursor: pointer;
  padding: 1.1rem;
}

.select::after {
  content: "\25BC";
  position: absolute;
  background: #3d2b26;
  top: 0;
  right: 0;
  padding: 1.1rem;
  pointer-events: none;
  transition: all 0.3s ease;
}

.select:hover::after {
  background: white;
  color: #3d2b26;
}
